html, body, main, section, p, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: hsl(218, 22%, 67%);
    display: flex;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "first first"
    "second third";
    max-width: 640px;
}

.first-section {
    background: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    grid-area: first;
    padding: 40px;
}

h1 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 30px;
}

.first-section_title {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    margin-bottom: 20px;
}

.first-section_content {
    color: #c6cace;
}

.second-section {
    background: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    grid-area: second;
    padding: 45px 40px 30px 40px;
    border-bottom-left-radius: 6px;
}

.second-section_amount {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
}

.second-section_amount span{
    color: #62d5d3;
    font-size: 13px;
    font-weight: 400;
}

.second-section_content {
    margin-bottom: 30px;
}

button {
    background: hsl(71, 73%, 54%);
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    padding: 15px;
    width: 100%;
}

h2 {
    color: hsl(204, 43%, 93%);
    font-size: 19px;
    margin-bottom: 21px;
}

.third-section {
    background: #49bdbd;
    grid-area: third;
    padding: 45px 40px 30px 40px;
    border-bottom-right-radius: 6px;
}

.third-section_content {
    color: #99e8ec;
    font-size: 14px;
    list-style-type: none;
}

.third-section_content li{
    margin: 4px 0;
}

@media screen and (max-width: 600px) {

    body {
        padding: 0 30px;
    }

    .container {
        grid-template-areas:
                'first'
                'second'
                 'third';
        grid-template-columns: 1fr;
    }

    .second-section {
        border-bottom-left-radius: 0;

    }

    .third-section {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}